<div id="<%= dom_id order %>">
  <p>
    <strong>Id customer:</strong>
    <%= order.id_customer %>
  </p>

  <p>
    <strong>Id food:</strong>
    <%= order.id_food %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

</div>
